/* SidebarStyle.css */

.logo img {
  max-width: 100px;
  margin-bottom: 10px;
}

.logo h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--PRIMARY-COLOR);
  margin: 0;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
}

.menu li a:hover,
.menu li.active a {
  background-color: var(--PRIMARY-COLOR);
  color: white;
}

@media (min-width: 576px) {
  aside {
    position: relative !important;
  }

  .sidebar-column,
  .main-column {
      flex-basis: 100%;
      max-width: 100%;
  }
}

@media (min-width: 768px) {
  aside {
    position: relative !important;
  }

  .sidebar-column,
  .main-column {
      flex-basis: 100%;
      max-width: 100%;
  }
}

@media (min-width: 992px) {
  aside {
    /* position: fixed !important; */
    position: relative !important;
  }
  
  .sidebar-column,
  .main-column {
      flex-basis: 100%;
      max-width: 100%;
  }

  /* .main-column {
    margin-left: 16.6667%;
  } */
}

@media (min-width: 1200px) {
  aside {
    /* position: fixed !important; */
    position: relative !important;
  }
  
  .sidebar-column,
  .main-column {
      flex-basis: 100%;
      max-width: 100%;
  }

  /* .main-column {
    margin-left: 16.6667%;
  } */
}
