/* SidebarStyle.css */

.logo img {
  max-width: 100px;
  margin-bottom: 10px;
}

.logo h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--PRIMARY-COLOR);
  margin: 0;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
}

.menu li a:hover,
.menu li.active a {
  background-color: var(--PRIMARY-COLOR);
  color: white;
}

.sidebar {
  width: 250px;
  /* Adjust width as needed */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding-top: 20px;
  border-right: 1px solid #ccc;
}

.toggle-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1100;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .toggle-button {
    display: block;
  }
}