:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bs-breadcrumb-divider: '>';

  /* Color Palette */
  --PRIMARY-COLOR: #E30613;
  --SECONDARY-COLOR: #CF2338;

  --SLIVER-100-COLOR: #EEEEEE;
  --SLIVER-200-COLOR: #DDDDDD;
  --SLIVER-300-COLOR: #CCCCCC;
  --SLIVER-400-COLOR: #BBBBBB;
  --SLIVER-500-COLOR: #AAAAAA;

  --DARK-200-COLOR: #283845;
  --DARK-300-COLOR: #202C39;
  --DARK-400-COLOR: #00171F;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


svg:hover {
  cursor: pointer;
}

.disable-icon:hover {
  cursor: default;
}

/*------------------------------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  /* border-spacing: 10px; */
  min-width: fit-content;
  overflow-x: auto;
}

tr,
td,
th {
  border: 0;
  vertical-align: middle;
}

.header-border {
  border-bottom: 2px solid black;
}

.cell,
.cellnoClick {
  border-bottom: 1px solid rgb(142, 142, 142);

}

td {
  margin-left: 8px;
  /* max-width: 200px; */
  min-width: 50px;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  cursor: pointer;
}

.cell {
  width: auto;
}

.last-cell {
  width: fit-content;
  min-width: 60px;
}

.last-cell:hover {
  cursor: default;
}

.last-cell .col {
  min-width: 30px;
  width: fit-content;
}

.table-header {
  display: flex;
  /* justify-content: space-between; */
  padding: 0;
  align-items: center;
}

.form-check-input:checked {
  background-color: red;
  border-color: red;
}

.nashtech-red {
  color: #cf2338;
}

.dropdown-toggle::after {
  display: none !important;
}

.form-check-input:focus,
.form-control:focus,
#dropdown-custom-2:focus,
#dropdown-toggle-text:focus {
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 .25rem transparent;
}

.form-control {
  border-color: black;
}

.red-border-on-focus:focus {
  border-color: red !important;
  outline: none !important;
  border-radius: 5px !important;
}

.password-onfocus,
.calendar-onfocus {
  border: 1px solid grey;
  border-radius: 0.375rem;
  transition: border 0.2s;
}

.password-onfocus:focus-within,
.calendar-onfocus:focus-within {
  border: 1px solid red;
  border-radius: 0.375rem;
}

/* Loader */
.loader {
  width: 50px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: red;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 0.8s infinite linear;
}

/* ------ */
@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

.page-item,
.page-link {
  color: red;
  font-weight: normal;
}

.active>.page-link {
  background-color: red;
  border-color: red;
}

.active>.page-link:hover {
  color: white;
}

.page-link:focus {
  box-shadow: none;
  color: red;
}

.page-link:hover {
  color: red;
}

.pagination {
  --bs-pagination-disabled-bg: white
}

#dropdown-custom-2:hover {
  background-color: transparent;
  text-align: left;
  color: black;
}

#dropdown-custom-2 {
  background-color: transparent;
  text-align: left;
  color: black;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--DARK-400-COLOR);
  text-decoration: none;
  background-color: var(--SLIVER-200-COLOR);
}

#add-category-dropdown-item:active, #add-category-dropdown-item:hover, #add-category-dropdown-item:focus{
  background-color: transparent;
}

.disable-icon {
  opacity: 20%;
}

.asset-detail-modal{
  max-width: 800px; /* Set your desired width here */
  width: 100%;
}

.assignment-detail-modal{
  max-width: 600px; /* Set your desired width here */
  width: 100%;
}
.modal-header{
  background-color: rgb(239, 241, 245);
  border-bottom: 1px solid black;
}
.modal-content{
  border: 1px solid black;
}
.show-more:hover{
  cursor: pointer;
}